@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/functions.sass';
@import 'bulma/sass/utilities/derived-variables.sass';

$company-1: #a3c1ad;
$company-3: #317873;
$company-4: #49796b;

$company-light: #e5f8ee;
$company: #52d19d;

$company-invert: #ff24ad;
$company-light-invert: $black;

$colors: mergeColorMaps(
  (
    'company': (
      $company,
      $company-invert,
    ),
    'company-light': (
      $company-light,
      $company-light-invert,
    ),
  ),
  $custom-colors
);
