@import 'bulma/bulmasass/utilities/derived-variables';
$company: #a3c1ad;
$company-1: #a0d6b4;
$company-2: #5f9ea0;
$company-3: #317873;
$company-4: #49796b;

mergeColorMaps(("company": $company, "company-1": $company-1, "company-2": $company-2, "company-3": $company-3, "company-4": $company-4), $custom-shades)
