@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/functions.sass';
@import 'bulma/sass/utilities/derived-variables.sass';

$company: #a3c1ad;
$company-1: #a0d6b4;
$company-2: #5f9ea0;
$company-3: #317873;
$company-4: #49796b;

$colors: mergeColorMaps(
  (
    'company': (
      $company,
      $company-1,
      $company-4,
    ),
  ),
  $custom-colors
);
